/* Footer.css */
.footer {
  background-color: black; /* Background color for the entire footer */
  color: white; /* Text color for the entire footer */
  padding: 20px; 
  font-family: 'Montserrat', sans-serif;/* Add padding to create some space inside the footer */
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  gap: 20px; /* Adjust the spacing between links */
}

.footer-links a {
  text-decoration: none;
  color: white; /* Text color for the links */
  font-weight: bold;
}

.company-description {
  text-align: start; /* Center-align the company description */
  margin-top: 1px;
}

.company-description h2 {
  padding: 1px;
  margin-top: -20px;
  font-weight: 501;
}

.company-description p {
  margin-right: 5px;

}

.company-info {
  text-align: center; /* Center-align the company info */
  margin-top: 20px; /* Add some top margin */
}

.company-info p {
  font-size: 12px; /* Adjust the font size of the company info */
}


.register-button {
  margin-left: 15px;
  margin-bottom: 20px;
  text-align: center;
}