.package-card {
    border: 1px solid #ccc;
    padding: 90px;
    margin: 0px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(254,254,254,1) 26%, rgba(238,238,238,1) 96%);
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 510;
}

.price {
  font-weight: 600;
}

/* Add this CSS in your stylesheet or component CSS */

.signup-button {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding to control button size */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none;
  border: none;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px; /* Button text size */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.signup-button:hover {
  background-color: #0056b3; /* Button background color on hover */
}

/* InternetPackage.css */

/* ... Previous styles ... */

.main-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 19%,
    rgba(254, 254, 254, 1) 26%,
    rgba(238, 238, 238, 1) 96%
  );
  overflow-x: hidden; /* Hide horizontal overflow */
  position: relative; /* Position for absolute arrow buttons */
}

.packages-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of packages */
  gap: 10px; /* Adjust gap between packages as needed */
  overflow-x: hidden; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  padding: 10px 0;
  margin: 0 20px; /* Add margin to give space for arrow buttons */
}

.scroll-button {
  background-color: transparent;
  color: #000000;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure buttons are above the packages */
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}